<footer class="main-footer">
  <strong>Copyright &copy;2021 Trainernetic 2020.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>AdminLTE Version</b> 3.1.0
  </div>
</footer>
